body {
  font-family: 'Roboto', sans-serif;
}

.navbar-nav .active {
  color: #40a3f8 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}

.opacity-3 {
  opacity: 0.3;
}

.header {
  background-image: linear-gradient(90deg, rgba(177, 222, 255, 0.4009978991596639) 0%, rgba(255, 255, 255, 0.5) 100%);
  overflow: hidden;
  &-title {
    font-family: 'Rubik';
    color: #40a3f8 !important;
    font-size: 31.635px !important;
    line-height: 47px !important;
    letter-spacing: 1px !important;
    @media screen and(max-width:335px) {
      font-size: 24px !important;
    }
  }

  &-navigation {
    font-family: 'Poppins';
    color: #6e5f5f;
  }
  &-btn-nav {
    position: relative;
    background-color: #40a3f8 !important;
  }
  &-btn {
    font-family: 'Poppins';
    background-color: #40a3f8 !important;
    font-size: 14.997px !important;
    line-height: 22px !important;
  }

  &-main-content {
    margin-top: 254px !important;
    @media screen and(max-width:985px) {
      margin-top: 70px !important;
    }
  }

  &-text {
    font-size: 48px;
    line-height: 70px;
    color: #3e3e3e;
    span {
      color: #40a3f8;
    }
  }

  &-subtext {
    max-width: 460px;
    font-size: 14px;
    line-height: 30px;
    color: rgba(117, 117, 117, 0.46);
  }

  &-select-container {
    position: relative;
    &::before {
      content: url('../images/map.svg');
      display: block;
      position: absolute;
      top: 25%;
      left: -3%;
      width: 30px;
      height: 30px;
      @media screen and(max-width:991px) {
        left: 1%;
      }
      @media screen and(max-width:767px) {
        left: 7%;
      }
    }

    @media screen and(min-width:991px) {
      width: auto !important;
    }
  }

  &-form {
    background-color: #fff;
    border-radius: 0.5em;
    &-input {
      &::placeholder {
        font-size: 14px;
      }
    }

    &-select {
      font-family: 'Poppins';
      font-size: 14px !important;
      color: #3d3d3f !important;
      @media screen and(min-width:767px) {
        width: 100% !important;
      }
    }

    &-btn {
      background-image: url('../images/Search_button.svg');
      background-size: 25px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #40a3f8 !important;
      border-radius: 0.4em !important;
    }
  }
  &-image-block {
    position: relative;
    &::after {
      content: '';
      background-image: url('../images/Back\ image\ shape.png');
      width: 525px;
      height: 525px;
      position: absolute;
      background-size: cover;
      left: 17%;
      top: -6%;

      @media screen and(max-width:1400px) {
        left: 9%;
      }

      @media screen and(max-width:1200px) {
        left: 0%;
      }

      @media screen and(max-width:985px) {
        left: 20%;
      }

      @media screen and(max-width:587px) {
        width: 425px;
        height: 425px;
        left: 17%;
      }

      @media screen and(max-width:465px) {
        width: 390px;
        height: 390px;
        left: 10%;
      }

      @media screen and(max-width:347px) {
        width: 310px;
        height: 310px;
        left: 5%;
      }
    }
  }

  &-image {
    position: relative;
    z-index: 2;
  }

  &-image-stat {
    z-index: 3;
    &:nth-of-type(1) {
      top: 0;
      left: 20%;
    }

    &:nth-of-type(2) {
      top: 40%;
      left: 15%;
    }

    &:nth-of-type(3) {
      top: 75%;
      left: 15%;
    }

    &:nth-of-type(4) {
      top: 0;
      right: 0;
    }

    &:nth-of-type(5) {
      top: 50%;
      right: -5%;
    }

    @media screen and(max-width:1200px) {
      &:nth-of-type(1) {
        top: 10%;
        left: 20%;
      }

      &:nth-of-type(2) {
        top: 40%;
        left: 5%;
      }

      &:nth-of-type(3) {
        top: 75%;
        left: 5%;
      }

      &:nth-of-type(4) {
        top: 10%;
        right: 0;
      }

      &:nth-of-type(5) {
        top: 50%;
        right: -20%;
      }
    }

    @media screen and(max-width:985px) {
      &:nth-of-type(1) {
        top: 10%;
        left: 20%;
      }

      &:nth-of-type(2) {
        top: 40%;
        left: 15%;
      }

      &:nth-of-type(3) {
        top: 70%;
        left: 15%;
      }

      &:nth-of-type(4) {
        top: 10%;
        right: 0;
      }

      &:nth-of-type(5) {
        top: 50%;
        right: -10%;
      }
    }

    @media screen and(max-width:587px) {
      &:nth-of-type(1) {
        top: 10%;
        left: 15%;
        width: 70px;
        height: 70px;
      }

      &:nth-of-type(2) {
        top: 40%;
        left: 10%;
        width: 70px;
        height: 70px;
      }

      &:nth-of-type(3) {
        top: 60%;
        left: 15%;
        width: 170px;
        height: 170px;
      }

      &:nth-of-type(4) {
        top: 10%;
        right: 0;
        width: 70px;
        height: 70px;
      }

      &:nth-of-type(5) {
        top: 50%;
        right: 0%;
        width: 170px;
        height: 170px;
      }
    }

    @media screen and(max-width:388px) {
      &:nth-of-type(3) {
        top: 47%;
        left: 5%;
        width: 170px;
        height: 170px;
      }
      &:nth-of-type(5) {
        top: 50%;
        right: 0%;
        width: 130px;
        height: 130px;
      }
    }
  }
}

.solutuion {
  margin-top: 75px;
  &-heading {
    font-size: 42px;
    line-height: 70px;
    color: #3e3e3e;
  }

  &-cards {
    margin-top: 60px;
  }

  &-card {
    &-img {
      width: 48px;
      height: 41px;
      &-container {
        position: relative;
        &::before {
          content: '';
          display: block;
          position: absolute;
          background: linear-gradient(180deg, rgba(0, 158, 255, 0.1) 0%, rgba(56, 175, 255, 0.1) 100%);
          mix-blend-mode: multiply;
          width: 80px;
          height: 80px;
          box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
          border-radius: 50%;
          z-index: 1;
          top: -50%;
          left: -35%;
        }
      }
    }

    &-title {
      font-size: 20px;
      line-height: 32px;
      color: #3d3d3f;
    }

    &-text {
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

.quality {
  margin-top: 71px;
  &-img {
    position: absolute;
    left: -15%;
    @media screen and(max-width:767px) {
      position: static;
    }
  }
  &-img-container {
    position: relative;
  }

  &-info {
    margin-top: 80px;
  }

  &-text {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: rgba(61, 61, 63, 0.7);
  }

  &-list {
    &-item {
      position: relative;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: #3d3d3f;
      &::before {
        content: url('../images/iconList.svg');
        position: absolute;
        top: 10%;
        left: -25px;
      }
    }
  }

  &-btn {
    position: relative;
    background: #40a3f8;
    color: #fff;
    &::after {
      content: url(../images/arrow\ left.svg);
      position: absolute;
      top: 17%;
      right: 12%;
    }
  }
}

.service {
  margin-top: 143px;
  &-vector {
    position: relative;
    width: 81px;
    height: 4px;
    background: linear-gradient(90.26deg, #47c2ff 0.21%, rgba(99, 203, 254, 0.65) 97.38%);
    &::after {
      content: '';
      position: absolute;
      top: -6px;
      right: -14px;
      display: block;
      width: 15px;
      height: 15px;
      background: linear-gradient(90.26deg, #47c2ff 0.21%, rgba(99, 203, 254, 0.65) 97.38%);
      border-radius: 50%;
    }
  }
}

.service-slider {
  .carousel-indicators {
    bottom: -25%;
  }

  .carousel-indicators [data-bs-target] {
    border: none;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    background-color: #dbe8ee;
    transition: all 0.4s ease;
    margin-right: 15px;
  }
  .carousel-indicators [data-bs-target].active {
    border: none;
    background-color: #40a3f8;
    border-radius: 6px !important;
    width: 60px;
  }
}
.carousel-item.active .card {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7%;
    display: block;
    width: 100%;
    height: 18px;
    background: #40a3f8;
    opacity: 0.5;
    box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 10px 10px;
  }
}
.card-image {
  width: 90px;
  height: 70px;
}
.card-title {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #3d3d3f;
}
.card-text {
  max-width: 216px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #999999;
}
// }

.carousel-inner {
  padding: 1em;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
.card .img-wrapper {
  max-width: 100%;
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card img {
  max-height: 100%;
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
}

.section {
  &-heading {
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.02em;
    color: #3d3d3f;
  }
  &-text {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(61, 61, 63, 0.7);
    max-width: 480px;
  }
}
